* {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}

header {
    background: url("images/earth_horizon.png") no-repeat center center;
    background-size: cover;
    height: 800px;
    text-align: center;
}

header, .container {
    position: relative;
}

header h1 {
    font-family: 'Brush Script MT', cursive, monospace;
    font-size: 250px;
    color: white;
    margin-bottom: 200px;
}

header p {
    color: white;
    letter-spacing: 8px;
    font-size: 16px;
    margin-bottom: 100px;
}

.btn {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid white;
}

.btn:hover{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid white;
}

nav {
    margin-top:100px;
    background: black;
    height: 80px;
    width: 100%;
}

nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

nav ul li{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
}

nav ul li a{
    text-decoration: none;
    padding-inline: 60px;
    color: white;
}

main {
    background: url("images/satellite.png") no-repeat center center;
    background-size: cover;
    height: 500px;
    text-align: left;
    margin: 0 auto;
}

main h1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 50px;
    padding-top: 250px;
    padding-left: 20px;
    padding-bottom: 100px;
}

main p {
    background: white;
    padding: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    font-size: 16px;
    padding-bottom: 50px;
}

.sponsors{
    text-align: center;
}
.sponsors h1{
    padding-top: 20px;
    padding-bottom: 50px;
}

footer .container {
    position: relative;
    padding-top: 500px;
    text-align: center;
}

footer ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

footer ul li{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
}