body {
    background-image: url("images/star_background.jpg");
}

body h1.question {
    text-align: center;
    color: white;
    margin: 10px auto;
}

.container {
    display: flex;

    /* Misc */
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.resizer[data-direction='horizontal'] {
    background-color: black;
    cursor: ew-resize;
    height: 100%;
    width: 2px;
}

.resizer[data-direction='vertical'] {
    background-color: black;/* #cbd5e0; */
    cursor: ns-resize;
    height: 2px;
    width: 100%;
}

.container__left {
    /* Initially, the left takes 1/4 width */
    width: 25%;

    /* Misc */
    background-color: #FAECE2;
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: left;
    display: block;
    min-width: 200px;
    max-width: 400px;
    overflow: scroll;
}

.container__left ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container__left ul li {
    display: flex;
    text-align: center;
}

.btn {
    flex: 1;
    color: black;
    background-color: transparent;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
}

.btn:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}

.container__left form input {
    align-items: center;
    border-radius: 5px;
}

.container__left .save_file {
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.container__left h4 {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.container__left .testInput {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}

.container__left .testInput label{ text-align:right; }

.container__left .testInput label::after {
    content: "\a";
    white-space: pre;
}

.container__left .testInput label::before {
    content: "\a";
    white-space: pre;
}

.fileManager {
    text-align: center;
}

.fileManager select {
    width: 100%;
    display: flex;
}

.fileManager .btn {
    width: 25%;
    margin-right: 20px;
    padding: 0;
    margin-top: 0;
}

.container__right {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
}

.container__top {
    /* Initial height */
    height: 40rem;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
}

.container__bottom {
    /* Take the remaining height */
    flex-grow: 1;

    /* Misc */
    align-items: left;
    display: flex;
    justify-content: left;
    overflow-y: scroll;
    width: 100%;
    background-color: #50505080;
    color: #FAECE2;
}

.editor_container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 600px;
    height: 100%;
    display:inline-block;
    position:relative;
    overflow-x: scroll;
}

#editor {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 14px;
}