body {
    background-image: url("images/star_background.jpg");
}

body h1.question {
    text-align: center;
    color: white;
    margin: 10px auto;
}

.container {
    display: flex;

    /* Misc */
    border: 1px solid black;
    height: 100%;
    width: 100%;
}
.resizer[data-direction='horizontal'] {
    background-color: black;
    cursor: ew-resize;
    height: 100%;
    width: 2px;
}
.resizer[data-direction='vertical'] {
    background-color: black;/* #cbd5e0; */
    cursor: ns-resize;
    height: 2px;
    width: 100%;
}
.container__left {
    /* Initially, the left takes 1/4 width */
    width: 25%;

    /* Misc */
    background-color: #FAECE2;
    display: flex;
    justify-content: center;
    padding: 5px;
    text-align: left;
    display: block;
    min-width: 200px;
    max-width: 400px;
}

.container__left ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /* width: 100%; */
}

.container__left ul li {
    display: flex;
    text-align: center;
    /* width: 100%; */
}

.btn {
    flex: 1;
    color: black;
    background-color: transparent;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
}

.btn:hover{
    color: black;
    background-color: white;
    text-decoration: none;
    border: 2px solid white;
}

.container__left form {
    padding-top: 10px;
    display: block;
}

.container .container__left h3, p {
    text-align: center;
    width: 100%;
}

.container__right {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
}
.container__top {
    /* Initial height */
    height: 40rem;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    width: 100%;
}
.container__bottom {
    /* Take the remaining height */
    flex-grow: 1;

    /* Misc */
    align-items: left;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    width: 100%;
    background-color: #50505080;
    color: #FAECE2;
}

.editor_container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 600px;
    height: 100%;
    display:inline-block;
    position:relative;
    overflow-x: scroll;
}


#editor {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 14px;
}