<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
        <link href="/styling/index.css" rel="stylesheet">
    </head>


    <body>


        <header>
            <div class = "container">

                <h1>Hsf</h1>
                <p>Modeling Software for Dynamic Systems</p>
                <a class="btn" href="/result">Model System</a>

            </div>

            <nav>
                <div class="container">
                    <ul>
                        <li><a href="#background">Background</a></li>
                        <li><a href="#sponsors">Sponsors</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
            
        <main>
            <section id="background"></section>
                <h1><strong>Background</strong></h1>
                <p>
                    The Horizon Simulation Framework was developed to allow convenient modelling of dynamic Systems
                    using a Breadth First Search algorithm. The software utilizes a brute force approach by 
                    evualating all paths between states. While HSF was designed for satellites/space systems,
                    the nature of the algorithm allows for usage in various dynamic systems.
                </p>
            </section>

            <div class="sponsors" id="sponsors">
                <h1>Sponsors</h1>
                <img src="/styling/images/calpoly_seal.png" width="200px;" height="200px;">
                <figcaption>California Polytechnic San Luis Obispo</figcaption>
            </div>
            
        </main>

        <footer>
            <div class="container" id="contact">
                <ul>
                    <li>
                        <h3><Strong>Contact For More Information:</Strong</h3>
                    </li>
                    <li>
                        <h2>emehiel@calpoly.edu</h2>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>