<html lang="en">
    <head>
        <title>HSF Sandbox</title>
        <meta charset="utf-8" />
        <title>HTML DOM - Create resizable split views</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/demo.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap">
        <link rel="stylesheet" href="/styling/model.css" />
    </head>
    <body>
        <h1 class="question">Subsystem Sandbox</h1>
        <div class="container">
            <div class="container__left">
                <h3>Create a new Python subsystem and add relevant dependencies</h3>

                <p>The subsystem sandbox allows for modelling of a system's subsystems. Implementations of some 
                    subsystems already exist and may be loaded in using the menu below. All subsystems must follow
                    a basic format given by the "subsystem template".
                </p>

                <h4>Choose from the following existing subsystems view a template</h4>

                <ul>
                    <li><a href="/subtemplate">Subsystem Template</a></li>
                    <li>ADCS</li>
                    <li>Comm</li>
                </ul>
            </div>

            <div class="resizer" data-direction="horizontal"></div>

            <div class="container__right">

                <div class="container__top">Top</div>

                <div class="resizer" data-direction="vertical"></div>

                <div class="container__bottom">
                    <div class="editor_container">
                        <div id="editor"># Python 3.10.11</div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.1/ace.js"></script>
        <script src="/styling/resize.js"></script>
        <!-- <script>editor.resize()</script> -->
    
    </body>
</html>
/styling/ace_editor.js