<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Editor</title>
    <link rel="stylesheet" href="/styling/model.css">
</head>
<body>

    <h3 class="question">Create a class to model a subsystem</h3>


    <div class="editor-container">
        <div id="editor"># Python 3.10.11</div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.1/ace.js"></script>
    <script src="/styling/model.js"></script>
</body>
</html>